<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <!-- 브라우저에게 웹사이트가 모바일에 최적화되었음을 알림 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google Material 폰트와 아이콘 불러오기 -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- 압축된(minified) CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- 제이쿼리를 materialize.js보다 먼저 불러오기 -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- 압축된(minified) 자바스크립트 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <!-- 위치 추적하는 구글 지도 API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<<< 구글 개발자 키 입력 >>>"></script>
</head>